@font-face {
  font-family: Alegreya-Bold;
  src: url('/fonts/Alegreya-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Alegreya-Italic;
  src: url('/fonts/Alegreya-Italic.ttf');
  font-weight: 100;
  font-style: italic, oblique;
}

@font-face {
  font-family: Alegreya-Medium;
  src: url('/fonts/Alegreya-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Alegreya-MediumItalic;
  src: url('/fonts/Alegreya-MediumItalic.ttf');
  font-weight: 400;
  font-style: oblique, italic;
}

@font-face {
  font-family: Alegreya-Regular;
  src: url('/fonts/Alegreya-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Alegreya-SemiBold;
  src: url('/fonts/Alegreya-SemiBold.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Alegreya-SemiBoldItalic;
  src: url('/fonts/Alegreya-SemiBoldItalic.ttf');
  font-weight: 400;
  font-style: oblique, italic;
}

@font-face {
  font-family: Montserrat-Light;
  src: url('/fonts/Montserrat-Light.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('/fonts/Montserrat-Regular.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('/fonts/Montserrat-SemiBold.ttf');
  font-weight: 100;
  font-style: normal;
}
