---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Yhonatan|Home" page="home">
    <section>
        <div class="container">
            <div class="flex flex-col md:flex-col">
                <div class="px-6 container mx-auto mt-16">
                    <p class="mx-auto max-w-md text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Iaculis at erat pellentesque adipiscing
                        commodo elit. Metus dictum at tempor commodo
                        ullamcorper. Mauris vitae ultricies leo integer.
                        Ultrices tincidunt arcu non sodales. Condimentum mattis
                        pellentesque id nibh tortor id aliquet lectus proin.
                        Lorem sed risus ultricies tristique nulla aliquet enim
                        tortor at. Faucibus nisl tincidunt eget nullam non nisi
                        est. Est ullamcorper eget nulla facilisi etiam. Congue
                        nisi vitae suscipit tellus mauris a diam maecenas.
                        Lobortis mattis aliquam faucibus purus in massa tempor
                        nec feugiat. Nisl rhoncus mattis rhoncus urna. Convallis
                        a cras semper auctor neque vitae. Orci nulla
                        pellentesque dignissim enim sit amet. Ut sem viverra
                        aliquet eget sit amet tellus. Vehicula ipsum a arcu
                        cursus vitae congue.
                    </p>
                </div>
            </div>
        </div>
    </section>
</Layout>
