---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import ResumeHeader from '@components/ResumeHeader.astro';

import Layout from '@layouts/Layout.astro';
---

<Layout title="Yhonatan|Resume" page="resume" transition:animate="slide">
  <Header />
  <ResumeHeader />

  <div class="col-span-10 col-start-2 md:col-span-6 md:col-start-4">
    <div class="text-xl md:text-3xl font-alegreya-semi-bold-italic text-primary border-b-3">
      Education
    </div>
  </div>

  <div class="col-span-10 col-start-2 md:col-span-6 md:col-start-4">
    <div class="text-xl md:text-3xl font-alegreya-semi-bold-italic text-primary border-b-3">
      Internships
    </div>
  </div>

  <div class="col-span-10 col-start-2 md:col-span-6 md:col-start-4">
    <div class="text-xl md:text-3xl font-alegreya-semi-bold-italic text-primary border-b-3">
      Publications
    </div>
  </div>

  <div class="col-span-10 col-start-2 md:col-span-6 md:col-start-4">
    <div class="text-xl md:text-3xl font-alegreya-semi-bold-italic text-primary border-b-3">
      Awards and Honours
    </div>
  </div>

  <div class="col-span-10 col-start-2 md:col-span-6 md:col-start-4">
    <div class="text-xl md:text-3xl font-alegreya-semi-bold-italic text-primary border-b-3">
      Academic Services
    </div>
  </div>

  <Footer />
</Layout>
