@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
    :root {
        --text: #081611;
        --background: #e9f7f2;
        --primary: #4cbda1;
        --secondary: #b79ada;
        --accent: #cd79cc;
        --background-primary: #e0e5ee;
        --background-secondary: #caece2;
        --background-footer: #ddebe6;
        --slider-bg: #caece2;
        --slider-bg-before: #fff;
        --slider-input-bg: #13362c;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #e9f7f2;
        --background: #0c1210;
        --primary: #42b397;
        --secondary: #422565;
        --accent: #863285;
        --background-primary: #131922;
        --background-secondary: #13362c;
        --background-footer: #14221d;
        --slider-bg: #caece2;
        --slider-bg-before: #fff;
        --slider-input-bg: #b79ada;
    }
}

@font-face {
    font-family: 'PoppinsBold';
    src: url(/public/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'PoppinsItalic';
    src: url(/public/fonts/Poppins-Italic.ttf);
}
@font-face {
    font-family: 'PoppinsLight';
    src: url(/public/fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: 'PoppinsMedium';
    src: url(/public/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'PoppinsRegular';
    src: url(/public/fonts/Poppins-Regular.ttf);
}

.theme-switch-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: var(--slider-bg);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    background-color: var(--slider-bg-before);
    bottom: 4px;
    content: '';
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--slider-input-bg);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider svg {
    color: #222;
    position: absolute;
    transition:
        opacity 0.2s ease 0s,
        transform 0.35s ease 0s;
    pointer-events: none;
}

.feather-moon {
    opacity: 0;
    left: 9px;
    bottom: 9px;
    transform: translateX(4px);
}

.feather-sun {
    opacity: 1;
    right: 10px;
    bottom: 9px;
    transform: translateX(0px);
}

input:checked + .slider .feather-moon {
    opacity: 1;
    transform: translateX(0);
}

input:checked + .slider .feather-sun {
    opacity: 0;
    transform: translateX(-4px);
}

* {
    margin: 0;
    padding: 0;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 24px;
    height: 2px;
    top: 0;
    left: 0;
    background: #ffffff;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
