<div class="col-span-6 col-start-4">
  <section class="font-montserrat-regular">
    My research focuses on <span class="font-montserrat-semi-bold text-primary">Information Visualization</span>
    and <span
    class="font-montserrat-semi-bold text-primary">Human-Computer</span>
    Interaction in immersive environments using various interfaces. I aim to
    explore new ways of interacting with immersive technologies through
    <span class="font-montserrat-semi-bold text-primary">data-driven</span> and
    <span
      class="font-montserrat-semi-bold text-primary">provenance-driven</span>
    approaches, with a strong emphasis on
    developing <span class="font-montserrat-semi-bold text-primary">modular interfaces</span>
    that support diverse interaction methods.
  </section>
</div>
