<div class="col-span-10 col-start-2 md:col-span-6 md:col-start-4">
  <section class="font-montserrat-regular">
    My research focuses on <span class="font-montserrat-semi-bold text-primary">Information Visualization</span>
    and <span
    class="font-montserrat-semi-bold text-primary">Human-Computer</span>
    Interaction in <span class="font-montserrat-semi-bold text-primary">immersive environments</span>
    using various interfaces. I aim to
    explore new ways of interacting with <span
    class="font-montserrat-semi-bold text-primary">immersive technologies</span>
    through
    <span class="font-montserrat-semi-bold text-primary">data-driven</span> and
    <span
      class="font-montserrat-semi-bold text-primary">provenance-driven</span>
    approaches, with a strong emphasis on
    developing <span class="font-montserrat-semi-bold text-primary">modular interfaces</span>
    that support diverse interaction methods.
  </section>
</div>
