---

---

<!--TODO: rewrite all footer components-->
<!--TODO: Use a accessible colors for the font-->
<footer
  class="col-span-8 col-start-3"
>
  <div class="@container text-center">
    <div class="font-alegreya-italic text-lg p-3">
      <span class="font-alegreya-italic text-lg p-10">Copyright © Yhonatan Iquiapaza.</span>
    </div>
    <div class="font-monserrat-light text-sm p-3">
      <span>Last updated in April 2025</span>
    </div>
  </div>
</footer>
