---

---

<!--TODO: rewrite all footer components-->
<!--TODO: Use a accessible colors for the font-->
<footer
  class="col-span-8 col-start-3"
>
  <div class="@container text-center">
    <span class="font-alegreya-italic text-lg p-10">Copyright © Yhonatan Iquiapaza. Last updated in April 2025</span>
  </div>
</footer>
