---
import Toggle from '../components/ThemeChange.astro';
const { headerName } = Astro.props;
const headerNames = [
    { name: 'home', isActive: false },
    { name: 'publications', isActive: false },
    { name: 'projects', isActive: false },
    { name: 'resume', isActive: false },
];
headerNames.map((item) => {
    if (headerName === item.name) item.isActive = true;
    return item;
});
---

<div
    class="light:bg-background container mx-auto max-w-6xl px-6 py-16 dark:bg-background md:py-16"
>
    <Toggle />
    <nav class="light:text-text container relative mx-auto dark:text-text">
        <div
            class="flex flex-col items-center space-x-2.5 md:flex-row md:space-x-20"
        >
            <img src="/images/yhonatan.svg" alt="Yhonatan" />
            <div class="space-x-4 py-10 text-sm md:w-full md:p-0 md:text-xl">
                <a
                    href="/"
                    class:list={[
                        'font-poppinsRegular',
                        { isActive: headerNames[0].isActive },
                    ]}
                >
                    Home</a
                >
                <a
                    href="/publications"
                    class:list={[
                        'font-poppinsRegular',
                        { isActive: headerNames[1].isActive },
                    ]}
                >
                    Publications</a
                >
                <a
                    href="/projects"
                    class:list={[
                        'font-poppinsRegular',
                        { isActive: headerNames[2].isActive },
                    ]}
                >
                    Projects</a
                >
                <!--TODO: change personal drive resume url-->
                <a
                    href="/resume"
                    class:list={[
                        'font-poppinsRegular',
                        { isActive: headerNames[3].isActive },
                    ]}
                >
                    Resume</a
                >
            </div>
        </div>
    </nav>
</div>
<style>
    @media (prefers-color-scheme: light) {
        .isActive {
            color: #914b72;
        }
    }
    @media (prefers-color-scheme: dark) {
        .isActive {
            color: #b46e95;
        }
    }
</style>
