---
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';

interface Props {
  title: string;
  page: string;
}
const { title, page } = Astro.props;
// TODO:
// [ ] Create a layout for components
// [ ] Refactor this layout
//! [ ] Remove fonts that we do not use (some families)
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" type="image/x-icon" href="/images/aricon.png" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <ClientRouter />
  <script>
    if (
      localStorage.getItem('color-theme') === 'dark' ||
      (!('color-theme' in localStorage) &&
        window.matchMedia('(prefers-color-theme: dark)').matches)
    ) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }
  </script>
</head>

<body>
<main class="@container">
  <div class="grid grid-cols-12 gap-4">
    <slot />
  </div>
  <!--<Toggle />-->
</main>
</body>
</html>
