---
import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';
import { ViewTransitions } from 'astro:transitions';
interface Props {
    title: string;
    page: string;
}
const { title, page } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />

        <ViewTransitions />
        <link rel="icon" type="image/x-icon" href="/images/aricon.png" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@400;500;700&display=swap"
            rel="stylesheet"
        />
        <link href="/css/style.css" rel="stylesheet" />
        <title>{title}</title>
    </head>
    <body>
        <main class="min-h-screen flex flex-col justify-between">
            <Header nav-name={page} />
            <slot />
            <Footer />
        </main>
    </body>
</html>
